.woman-card {
  background: linear-gradient(135deg, #fcfdff 0%, #560f50 140%);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
  /* Ancho y alto de card */
  height: 100%;
  width: 280px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.woman-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.woman-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.woman-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.woman-card:hover .woman-image img {
  transform: scale(1.05);
}

.woman-content {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #030303;
}

.woman-title {
  font-family: var(--poppins-semibold-font-family);
  font-size: 1.25rem;
  font-weight: semibold;
  margin: 0 0 0.5rem 0;
}

.info-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  font-family: var(--poppins-regular-font-family);
  font-size: 1rem;
  font-style: var(--poppins-regular-font-style);
}
